livekit-agents[deepgram,openai,silero,turn-detector,sarvam]==1.5.2
livekit-api
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
python-multipart
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-cartesia
livekit-plugins-silero
